.logo {
  height: 35px;
  padding-top: 5%;
}
.header {
  text-align: center;
  background-color: #ce2829;
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow-Thin"), url("./fonts/Barlow-Thin.ttf");
}
